.gallery{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  justify-content: center;
  margin: 24px 156px;
}
.gallery-image{
  width: 360px;
  height: 200px;
  box-sizing: border-box;
}
.gallery-item{
  width: 360px;
  height: 200px;
}
.gallery-image:hover,.gallery-image:focus{
  cursor: zoom-in;
  scale: 1.01;
}

.sl-wrapper{
  background-color: rgba(46, 47, 66, 0.80);


}

.simple-lightbox button.sl-close,
.simple-lightbox div.sl-counter,
.simple-lightbox .sl-navigation button.sl-next,
.simple-lightbox .sl-navigation button.sl-prev{
  color: #fff;
}
